// block-size
%block {
    display: block;
    margin: 0 auto;
}

%flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

%wrapper-1920 {
    @include wrapper-1920;
}

%wrapper-1280 {
    @include wrapper-1280;
}

%wrapper-768 {
    @include wrapper-768;
}

%wrapper-360 {
    @include wrapper-360;
}

%content-wrapper-1920 {
    @include content-wrapper-1920;
}

%content-wrapper-1280 {
    @include content-wrapper-1280;
}

%content-wrapper-768 {
    @include content-wrapper-768;
}

%content-wrapper-360 {
    @include content-wrapper-360;
}

%header-wrapper-1920 {
    @include header-wrapper-1920;
}

%header-wrapper-1280 {
    @include header-wrapper-1280;
}

%header-wrapper-768 {
    @include header-wrapper-768;
}

%header-wrapper-360 {
    @include header-wrapper-360;
}

%courses-wrapper-1920 {
    @include courses-wrapper-1920;
}

%courses-wrapper-1280 {
    @include courses-wrapper-1280;
}

%courses-wrapper-768 {
    @include courses-wrapper-768;
}

%courses-wrapper-360 {
    @include courses-wrapper-360;
}

%title-wrapper-1920 {
    @include title-wrapper-1920;
}

%title-wrapper-1280 {
    @include title-wrapper-1280;
}

%title-wrapper-768 {
    @include title-wrapper-768;
}

%title-wrapper-360 {
    @include title-wrapper-360;
}

%superman-wrapper-1920 {
    @include superman-wrapper-1920;
}

%superman-wrapper-1280 {
    @include superman-wrapper-1280;
}

%superman-wrapper-768 {
    @include superman-wrapper-768;
}

%superman-wrapper-360 {
    @include superman-wrapper-360;
}

%course-author-wrapper-1920 {
    @include course-author-wrapper-1920;
}

%course-author-wrapper-1280 {
    @include course-author-wrapper-1280;
}

%course-author-wrapper-768 {
    @include course-author-wrapper-768;
}

%course-author-wrapper-360 {
    @include course-author-wrapper-360;
}

%description-wrapper-1920 {
    @include description-wrapper-1920;
}

%description-wrapper-1280 {
    @include description-wrapper-1280;
}

%description-wrapper-768 {
    @include description-wrapper-768;
}

%description-wrapper-360 {
    @include description-wrapper-360;
}

%block-one-wrapper-1920 {
    @include block-one-wrapper-1920;
}

%block-one-wrapper-1280 {
    @include block-one-wrapper-1280;
}

%block-one-wrapper-768 {
    @include block-one-wrapper-768;
}

%block-one-wrapper-360 {
    @include block-one-wrapper-360;
}

%block-two-wrapper-1920 {
    @include block-two-wrapper-1920;
}

%block-two-wrapper-1280 {
    @include block-two-wrapper-1280;
}

%block-two-wrapper-768 {
    @include block-two-wrapper-768;
}

%block-two-wrapper-360 {
    @include block-two-wrapper-360;
}

%training-wrapper-1920 {
    @include training-wrapper-1920;
}

%training-wrapper-1280 {
    @include training-wrapper-1280;
}

%training-wrapper-768 {
    @include training-wrapper-768;
}

%training-wrapper-360 {
    @include training-wrapper-360;
}

// heading

// text

%cards-wrapper-1920 {
    @include cards-wrapper-1920;
}

%cards-wrapper-1280 {
    @include cards-wrapper-1280;
}

%cards-wrapper-768 {
    @include cards-wrapper-768;
}

%cards-wrapper-360 {
    @include cards-wrapper-360;
}