@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

%font-family-style {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

// fonts header landing page 1920px
%ex1-H1_Lato_Bold_56-80 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #000000;
}

%ex2-H2_Lato_Bold_48-64 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #331A2F;
}

%ex3-H3_Lato_Semibold_42-55 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    color: #331A2F;
}

%ex4-H4_Lato_Semibold_35-45 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 35px;
    line-height: 29px;
    color: #331A2F;
}

%ex5-H5_Lato_Semibold_24-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #331A2F;
}

%ex6-H6_Lato_Semibold_18-25 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #331A2F;
}

%ex7-Text_Lato_Regular_25-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
}

// fonts header landing page 1280px
%ex8-H1_Lato_Bold_46-65 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 46px;
    line-height: 65px;
    color: #331A2F;
}

%ex9-H2_Lato_Bold_40-50 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #331A2F;
}

%ex10-H3_Lato_Semibold_38-55 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
    color: #331A2F;
}

%ex11-H4_Lato_Semibold_30-45 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #331A2F;
}

%ex12-H5_Lato_Semibold_20-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #331A2F;
}

%ex13-H6_Lato_Semibold_16-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #331A2F;
}

%ex14-Text_Lato_Regular_20-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: rgba(51, 26, 47, 0.8);
}

%ex15-Text_Lato_Regular_16-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
}

// fonts header landing page 768px
%ex16-H1_Lato_Bold_46-65 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 46px;
    line-height: 65px;
    color: #331A2F;
}

%ex17-H2_Lato_Bold_40-50 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #331A2F;
}

%ex18-H3_Lato_Semibold_38-55 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
    color: #331A2F;
}

%ex19-H4_Lato_Semibold_30-45 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #331A2F;
}

%ex20-H5_Lato_Semibold_20-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #331A2F;
}

%ex21-H6_Lato_Semibold_16-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #331A2F;
}

%ex22-Text_Lato_Regular_20-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: rgba(51, 26, 47, 0.8);
}

%ex23-Text_Lato_Regular_16-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
}

// fonts header landing page 360px
%ex24-H1_Lato_Bold_26-150 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: #331A2F;
}

%ex25-H2_Lato_Bold_24-150 {
    @extend %font-family-style;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #331A2F;
}

%ex26-H3_Lato_Semibold_22-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #331A2F;
}

%ex27-H4_Lato_Semibold_20-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #331A2F;
}

%ex28-H5_Lato_Semibold_18-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #331A2F;
}

%ex29-H6_Lato_Semibold_16-150 {
    @extend %font-family-style;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #331A2F;
}

%ex30-Text_Lato_Regular_18-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: rgba(51, 26, 47, 0.8);
}

%ex31-Text_Lato_Regular_16-160 {
    @extend %font-family-style;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
}