// pallette
$color-wrapper-block: blue;
$color-content-wrapper: cyan;
$color-header-wrapper: darkgreen;
$color-text-wrapper: chocolate;
$color-element-wrapper: crimson;
$color-image-wrapper: hotpink;
$color-courses-wrapper: rgb(87, 227, 40);
$color-title-wrapper: rgb(255, 0, 247);
$color-superman-wrapper: rgb(195, 0, 255);
$color-course-author-wrapper: rgb(255, 255, 0);
$color-block-one-wrapper: rgb(255, 0, 157);
$color-block-two-wrapper: rgb(0, 255, 26);
$color-training-wrapper: rgb(150, 30, 210);
$color-cards-wrapper: rgb(0, 255, 0);
$button-text-color: #FFFFFF;
$button-background-color: #CF51CE;



// breakpoints
$desktop: 3840px;
// $notebook: 1919px;
$notebook: 1670px;
$tablet: 1279px;
$mobile: 767px;